h2{
    color:white; 
    background: linear-gradient(rgba(0, 255, 242, 0.808), black);
    text-align: center;
}
a{
    color:yellowgreen;
}
body {
    background-image:url('./imagens/codigobinario.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    background-attachment: fixed;
    text-align: center;
}
#fotoana{
    width: 100px;
    height: 100px;
}